<div id="constraintbox">
    <form [formGroup]="constraintForm">
        <mat-checkbox color="primary" formControlName="indoor"></mat-checkbox>
        <mat-label> Prefer Indoors</mat-label>

        <!-- TODO STUB -->
        <!-- Avoid crowds option -->
        <!-- Visit food option -->

        <br><br>

        <div class="pitstop-buttons">
            <button mat-raised-button color="primary" (click)="addStop()">Add A Stop</button>
            <button mat-raised-button color="primary" *ngIf="(numOfStops>0)" (click)="removeStop()">Remove A Stop</button>
        </div>

        <br><br>

        <div *ngIf="formHasPitstops" formArrayName='stops'>
            <mat-form-field appearance="standard" *ngFor="let item of [].constructor(numOfStops); let i = index"
                style="margin-right: 10px;">
                <mat-label>Stop</mat-label>
                <mat-select formControlName="{{i}}">
                    <mat-option *ngFor="let building of buildings;" [value]="building">{{building.name}}</mat-option>
                </mat-select>
                <br>
            </mat-form-field>
        </div>
    </form>
</div>