.u-section-1 .u-sheet-1 {
    min-height: 460px;
  }
  
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 0;
    position: relative;
  }
  
  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-1 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin: 20px auto 0 0;
  }
  
  .u-section-1 .u-layout-cell-2 {
    min-height: 400px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-1 .u-text-3 {
    margin: 20px auto 0 20px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 390px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 330px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 330px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 353px;
    }
  
    .u-section-1 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-1 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 860px;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 578px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
  
  .u-section-2 .u-text-1 {
    margin-bottom: 60px;
  } .u-section-3 {
    background-image: none;
  }
  
  .u-section-3 .u-sheet-1 {
    min-height: 529px;
  }
  
  .u-section-3 .u-layout-wrap-1 {
    margin: 60px auto 60px 0;
  }
  
  .u-section-3 .u-layout-cell-1 {
    min-height: 409px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .u-section-3 .u-text-1 {
    margin: 0 auto 0 0;
  }
  
  .u-section-3 .u-text-2 {
    margin: 20px 0 0;
  }
  
  .u-section-3 .u-layout-cell-2 {
    min-height: 409px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-3 {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 436px;
    }
  
    .u-section-3 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 337px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      background-position: 50% 50%;
      min-height: 337px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 334px;
    }
  
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-3 .u-layout-cell-2 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 251px;
    }
  
    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-3 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 158px;
    }
  }