.navbar {
  background-color: #b53d00;
  color: white;
}

.body {
  width: 80%;
  margin: auto;
}

.app-map-container {
  height: 30rem;
  width: 60rem;
  margin: auto;
  padding-bottom: 20px;
}

.welcome-card {
  margin-top: 16px;
}

.mat-divider {
  border-top-color: rgba(0,0,0,.50);
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.mat-tab-label {
  min-width: 100px !important;
  padding: 16px !important;
  background-color: #78909c;
  color: black;
  font-weight: 700;
  opacity: 1.0 !important;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  min-width: 100px !important;
  padding: 16px !important;
  background-color: #b53d00 !important;
  color: white;
  font-weight: 700;
}

.mat-tab-label:hover:not(.mat-tab-disabled):not(.mat-tab-label-active) {
  background-color: #ffa06d;
  color: black !important;
  font-weight: 900;
}

.mat-ink-bar {
  background-color: black !important;
}
