
    <div class="body">
      <div class="home-container">
          <div class="home-text">
            <span class="home-text1">
              Welcome to the Capybara College Crawl
            </span>
            <br>
            <span class="home-text3">
              Explore Mizzou and get the best routes below!
            </span>
          </div>
          <div class="home-separator"></div>

          <div class="home-container1">
            <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Home"> Home </mat-tab>
              <mat-tab label="Input Locations"> Input Locations </mat-tab>
              <mat-tab label="Add Constraints"> Add Constraints </mat-tab>
              <mat-tab label="Search Buildings"> Search Buildings </mat-tab>
              <mat-tab label="View Places"> View Places </mat-tab>
            </mat-tab-group>
          </div>

        <div class="map-container">
          <app-map></app-map>
        </div>
      </div>
    </div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
