
<div class="body">
  <div class="home-container">
    <div class="home-text">
      <span class="home-text1">
        Welcome to the Capybara College Crawl
      </span>
      <br>
      <span class="home-text2">
        Explore Mizzou and get the best routes below!
      </span>
    </div>
    <div class="home-separator"></div>

    <div class="home-container1">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Home">
          <div class="home-text3">Please click one of the tabs above to get started</div>
        </mat-tab>
        <mat-tab label="Input Locations">
          <app-input-locations></app-input-locations>
        </mat-tab>
        <mat-tab label="Add Constraints">
          <app-component-add-constraints></app-component-add-constraints>
        </mat-tab>
        <mat-tab label="Search Buildings">
          <app-search-buildings></app-search-buildings>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="map-container">
      <app-map></app-map>
    </div>
  </div>
</div>


<!--
<div>
  <p>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
  </p>
</div>
-->