<div id="formContainer">

    <form [formGroup]="searchBuildings" (ngSubmit)="searchBuildingsFn()">
      <mat-form-field appearance="standard">
        <mat-label>Building Search</mat-label>
        <mat-select formControlName="building">
          <mat-option *ngFor="let building of buildings;" [value]="building.buildingId">{{building.name}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <br>
      <div>
        <button mat-raised-button color="basic" type="submit">Submit</button>
      </div>
    </form>
  
  </div>