<div id="formContainer">

  <form [formGroup]="inputLocations" (ngSubmit)="inputLocationsFn()">
    <mat-form-field appearance="standard"  >
      <mat-label>Start location</mat-label>
      <mat-select formControlName="start" >
        <mat-option *ngFor="let building of buildings;" [value]="building">{{building.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field appearance="standard">
      <mat-label>End location</mat-label>
      <mat-select formControlName="destination">
        <mat-option *ngFor="let building of buildings;" [value]="building">{{building.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    
    <mat-checkbox color="primary" (click)="toggleConstraints()" ></mat-checkbox>
    <mat-label> Add Constraints</mat-label>
    
    <br><br>

    <div [hidden]="!showConstraintsForm">
     <app-constraints-form [buildings]="buildings"></app-constraints-form>
    </div>

    <div>
      <button mat-raised-button color="basic" type="submit">Submit</button>
    </div>
  </form>

</div>
