<div id="formContainer">

  <form [formGroup]="inputLocations" (ngSubmit)="inputLocationsFn()">
    <mat-form-field appearance="standard">
      <mat-label>Start location</mat-label>
      <mat-select formControlName="start">
        <mat-option *ngFor="let building of buildings;" [value]="building.buildingId">{{building.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field appearance="standard">
      <mat-label>Destination</mat-label>
      <mat-select formControlName="destination">
        <mat-option *ngFor="let building of buildings;" [value]="building.buildingId">{{building.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-raised-button color="basic" type="submit">Submit</button>
    </div>
  </form>

</div>
