<div id="formContainer">

  <form [formGroup]="inputLocations" (ngSubmit)="inputLocationsFn()">
    <mat-form-field appearance="standard"  >
      <mat-label>Start location</mat-label>
      <mat-select formControlName="start" >
        <mat-option *ngFor="let building of buildings;" [value]="building">{{building.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field appearance="standard">
      <mat-label>End location</mat-label>
      <mat-select formControlName="destination">
        <mat-option *ngFor="let building of buildings;" [value]="building">{{building.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    
    <mat-checkbox color="primary" formControlName="constraints" (click)="toggleShow2()" ></mat-checkbox>
    <mat-label> Add Constraints</mat-label>
    <br>
    <br>

    <div id = "constraintbox">
      <mat-checkbox color="primary" formControlName="indoor" *ngIf="isShown2"></mat-checkbox>
      <mat-label *ngIf="isShown2"> Prefer Indoors</mat-label>
      <br><br>

      <div class = "pitstop-buttons">
        <button mat-raised-button color="primary" *ngIf="isShown2" (click)="addStop()">Add A Stop</button>
        <button  mat-raised-button color="primary" *ngIf="(numOfStops>0) && isShown2" (click)="removeStop()">Remove A Stop</button>  
      </div>
      
      <br><br>

      <div *ngIf="(numOfStops>0) && isShown2" formArrayName='stops'>
        <mat-form-field appearance="standard" *ngFor="let item of [].constructor(numOfStops); let i = index" style="margin-right: 10px;">
          <mat-label>Stop</mat-label>
          <mat-select formControlName="{{i}}">
            <mat-option *ngFor="let building of buildings;" [value]="building">{{building.name}}</mat-option>
          </mat-select>
          <br>
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-raised-button color="basic" type="submit">Submit</button>
    </div>
  </form>

</div>
